/* GENERAL STYLING */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
   font-family: 'Inconsolata', monospace;
   background-color: #191919;
}

/* MAIN */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 500px;
}

.calculator {
    border: 1px solid #00C44A;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
}

/* SCREEN */

.screen {
    background: #212121;
    color: #00A840;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    min-height: 25px;
    font-size: 1.3rem;
}

.current-operand {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 50px;
    font-size: 2rem;
}

/* BUTTONS */

.btns-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.btns-grid button {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    background: transparent;
    border: 1px solid #00C44A;
    color: #00C44A;
    border-radius: 10px;
    padding: 20px 30px;
    cursor: pointer;
}

button.operator {
   background: #00A840;
   color: #191919;
}

button.clear-all, button.clear {
    grid-column: span 2;
}










